.header {
    cursor: pointer;
}

table, th, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 6px;
    vertical-align: middle;
}

.resource-form {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#login-row {
    width: 320px;
    text-align: center;
    margin: 0 auto
}

.error-message {
     color: #FF0000;
}

.success-message {
    color: #4F8A10;
}

.center-content {
    display: block;
    text-align: center;
}

.multiple-line-table {
    border: none;
}

.image-list {
    height:auto;
    width:auto;
    max-width:50px;
    max-height:50px;
}

.position-bottom-center{
    margin-left:auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 20px

}
