<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{advertisement.title}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/list.css}" />
</head>

<body>
<div class="col-lg-12 text-center v-center">
    <h1 th:text="#{advertisement.title}"></h1>
</div>
<div class="container-fluid " style="font-size: 16px;padding: 100px">
    <hr class="style1">
    <form method="post" class="form-horizontal" th:attr="action=@{/advertisement/confirm}" th:object="${advertisement}" >
        <div class="panel-body">
            <div class="col-lg-12">
                <p class="bg-danger" th:if="${error}" th:text="${error}" style="text-align:center;border-style: solid;"></p>
                <p class="bg-success" th:if="${success}" th:text="${success}" style="text-align:center;border-style: solid;"></p>
            </div>
            <br>
        </div>

        <div class="col-md-12">
            <div class="row form-group">
                <div class="form-group col-lg-2">
                   Job title:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <p th:value="${title}"></p>
                </div>
            </div>
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Description:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <p th:text="${description}"></p>
                </div>
            </div>
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Start Date:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <p th:text="${startDate}"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    End date:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <p th:text="${endDate}"></p>
                </div>
                <!--<p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>-->
            </div>
            <hr class="style1">
            Company details:
            <hr class="style1">
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Company name:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <!--<p th:text="${company.companyName}"></p>-->
                </div>
                <!--<p th:if="${#fields.hasErrors('{company.companyName')}" th:errors="*{{company.companyName}"></p>-->
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    City:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <!--<p th:text="${company.city}"></p>-->
                </div>
                <!--<p th:if="${#fields.hasErrors('company.city')}" th:errors="*{company.city}"></p>-->
            </div>

            <hr class="style1">
            Contact person:
            <hr class="style1">

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Recrutiment name:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <!--<p th:text="${company.name}"></p>-->
                </div>
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Recrutiment surname: :
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <div class="form-group col-lg-4" style="padding-left: 50px">
                        <!--<p th:text="${company.surname}"></p>-->
                    </div>
                </div>
                <!--<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>-->
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Contact email:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <!--<p th:text="${company.email}"></p>-->
                </div>
            </div>
        </div>
        <!--/* Button submitujący login: */-->
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit" th:text="#{button.register.offer}"></button>
        </div>

    </form>

</div>

<!--&lt;!&ndash;/* Fragment widoczny dla zalogowanego użytkownika: */&ndash;&gt;-->
<!--<div id="page-wrapper" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--<div class="col-lg-12 text-center v-center">-->
<!--<h1 th:text="#{login.already_logged_in}"></h1>-->
<!--</div>-->
<!--</div>-->

<div th:replace="navbar :: footer"></div>
</body>
</html>