<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{advertisement.title}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/list.css}" />
</head>

<body>
<div th:replace="navbar :: header"></div>
<div class="col-lg-12 text-center v-center">
    <h1 th:text="#{advertisement.title}"></h1>
</div>
<div class="container-fluid " style="font-size: 16px;padding: 100px">
    <hr class="style1">
    <form method="post" class="form-horizontal" th:attr="action=@{/advertisement/add}" th:object="${advertisement}" enctype="multipart/form-data">
        <div class="panel-body">
            <div class="col-lg-12">
                <p class="bg-danger" th:if="${error}" th:text="${error}" style="text-align:center;border-style: solid; font-size: 25px;"></p>
                <p class="bg-success" th:if="${success}" th:text="${success}" style="text-align:center;border-style: solid;; font-size: 25px;"></p>
            </div>
            <br>
        </div>

        <div class="col-md-12">
            <div class="row form-group">
                <div class="form-group col-lg-2">
                   Job title:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="title" name="title" min="10" class="form-control" th:field="*{title}" />
                </div>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Description:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <textarea rows="6" cols="50" id="description" class="form-control" name="description"
                               th:field="*{description}" style="margin: 0px -489px 0px 0px; height: 333px; width: 808px;"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Start Date:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="date" id="startDate" class="form-control"
                           th:field="*{startDate}"/>
                </div>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    End date:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="date" id="endDate" class="form-control"
                           th:field="*{endDate}"/>
                </div>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
            </div>
            <hr class="style1">
            Company details:
            <hr class="style1">
            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Company name:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="companyName" class="form-control"
                           th:field="*{company.companyName}"/>
                </div>
                <!--<p th:if="${#fields.hasErrors('{companyName')}" th:errors="*{{companyName}"></p>-->
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    City:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="city" class="form-control"
                           th:field="*{company.city}"/>
                </div>
                <!--<p th:if="${#fields.hasErrors('company.city')}" th:errors="*{company.city}"></p>-->
            </div>
            <hr class="style1">
            Contact person:
            <hr class="style1">

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Recruiter name:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="name" class="form-control"
                           th:field="*{company.name}"/>
                </div>
                <!--<p th:if="${#fields.hasErrors('company.name')}" th:errors="*{company.name}"></p>-->
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Recruiter surname: :
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="surname" class="form-control"
                           th:field="*{company.surname}"/>
                </div>
                <!--<p th:if="${#fields.hasErrors('company.surname')}" th:errors="*{company.surname}"></p>-->
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Contact email:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="text" id="email" class="form-control"
                           th:field="*{company.email}"/>
                </div>
            </div>

            <div class="row form-group">
                <div class="form-group col-lg-2">
                    Logo:
                </div>
                <div class="form-group col-lg-4" style="padding-left: 50px">
                    <input type="file" name="file" />
                </div>
            </div>

        </div>
        <!--/* Button submitujący login: */-->
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit" th:text="#{button.register.offer}"></button>
        </div>

    </form>

</div>


<div th:replace="navbar :: footer"></div>
</body>
</html>