<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{login.title}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/list.css}" />
</head>

<body>



<div class="container-fluid " style="font-size: 16px;padding: 100px">

    <form method="post" class="form-horizontal" th:attr="action=@{/join}" th:object="${user}" >
    <div class="col-md-6">
        <div class="row form-group">
            <div class="form-group col-lg-2">
               Login:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="text" id="login" name="login" class="form-control" th:field="*{login}" />
            </div>
        </div>
        <div class="row form-group">
            <div class="form-group col-lg-2">
                Password:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="password" id="password" class="form-control" name="password"
                       th:field="*{password}"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="form-group col-lg-2">
                Confirm password:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="password" id="passwordConfirmed" class="form-control"
                       th:field="*{password}"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="form-group col-lg-2">
                Email:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="text" id="email" class="form-control"
                       th:field="*{email}"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-lg-2">
                321312:
            </div>
            <div class="form-group col-lg-4"style="padding-left: 50px">
                <input type="text" id="userName" name="login"  class="form-control" th:field="*{userDetails.name}" />
            </div>
        </div>
    </div>
        <!--/* Button submitujący login: */-->
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit" th:text="#{button.register}"></button>

        </div>
    </form>
</div>

<!--&lt;!&ndash;/* Fragment widoczny dla zalogowanego użytkownika: */&ndash;&gt;-->
<!--<div id="page-wrapper" th:if="${#authorization.expression('isAuthenticated()')}">-->
    <!--<div class="col-lg-12 text-center v-center">-->
        <!--<h1 th:text="#{login.already_logged_in}"></h1>-->
    <!--</div>-->
<!--</div>-->

<div th:replace="navbar :: footer"></div>
</body>
</html>