<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{login.title}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/list.css}" />
</head>

<body>
<div th:replace="navbar :: header"></div>
<div class="col-lg-12 text-center v-center">
    <h1 th:text="#{register.title}"></h1>
</div>
<div class="container-fluid " style="font-size: 16px;padding: 100px">
    <hr class="style1">
    <form method="post" class="form-horizontal" th:attr="action=@{/join}" th:object="${userForm}" >
        <div class="panel-body">
            <div class="col-lg-12">
                <p class="bg-danger" th:if="${error}" th:text="${error}" style="text-align:center;border-style: solid;"></p>
                <p class="bg-success" th:if="${success}" th:text="${success}" style="text-align:center;border-style: solid;"></p>
            </div>
            <br>
        </div>

    <div class="col-md-6">
        <div class="row form-group">
            <div class="form-group col-lg-2">
               Login:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="text" id="login" name="login" class="form-control" th:field="*{login}" />
            </div>
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
        </div>
        <div class="row form-group">
            <div class="form-group col-lg-2">
                Password:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="password" id="password" class="form-control" name="password"
                       th:field="*{password}"/>
            </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="row form-group">
            <div class="form-group col-lg-2">
                Confirm password:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="password" id="passwordConfirmed" class="form-control"
                       th:field="*{password}"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="form-group col-lg-2">
                Email:
            </div>
            <div class="form-group col-lg-4" style="padding-left: 50px">
                <input type="text" id="email" class="form-control"
                       th:field="*{email}"/>
            </div>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-lg-2">
                Name:
            </div>
            <div class="form-group col-lg-4"style="padding-left: 50px">
                <input type="text" id="name" name="login"  class="form-control" th:field="*{name}" />
            </div>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div class="row">
            <div class="form-group col-lg-2">
                Surname:
            </div>
            <div class="form-group col-lg-4"style="padding-left: 50px">
                <input type="text" id="surname" name="login"  class="form-control" th:field="*{surname}" />
            </div>
            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
        </div>

        <div class="row">
            <div class="form-group col-lg-2">
                Age:
            </div>
            <div class="form-group col-lg-4"style="padding-left: 50px">
                <input type="text" id="userName" name="login"  class="form-control" th:field="*{age}" />
            </div>
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        </div>

        <div class="row">
            <div class="form-group col-lg-2">
                Gender:
            </div>
            <div class="form-group col-lg-4"style="padding-left: 50px">
                <select id="type" name="type" class="form-control" th:field="*{gender}">
                    <option th:value="M">Boy</option>
                    <option th:value="F">Girl</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2">
                Phone:
            </div>
            <div class="form-group col-lg-4 required"style="padding-left: 50px">
                <input type="text" id="phone" name="login"  class="form-control" th:field="*{phone}" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2">
                Role:
            </div>
            <div class="form-group col-lg-4 required"style="padding-left: 50px" >
                <select class="form-control" id="role" name="roles" th:field="*{role}">
                    <option value="-1">--Role--</option>
                    <option th:each="role : ${allRoles}"
                            th:value="${role.id}"
                            th:text="${role.roleName}" ></option>
                </select>
            </div>
        </div>

        <div class="form-group blu-margin">

        </div>

    </div>

    <!--/* Button submitujący login: */-->
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit" th:text="#{button.register}"></button>
    </div>

    </form>

</div>

<!--&lt;!&ndash;/* Fragment widoczny dla zalogowanego użytkownika: */&ndash;&gt;-->
<!--<div id="page-wrapper" th:if="${#authorization.expression('isAuthenticated()')}">-->
    <!--<div class="col-lg-12 text-center v-center">-->
        <!--<h1 th:text="#{login.already_logged_in}"></h1>-->
    <!--</div>-->
<!--</div>-->

<div th:replace="navbar :: footer"></div>
</body>
</html>